body{
 color: rgb(227, 11, 195);
 background: rgb(17, 1, 1);
 margin: 0px;
}

header{
    border-bottom: solid 2px rgb(254, 4, 158);
    padding: 20px;
    font-size: 40px;
    color: rgb(227, 11, 195);
} 

section{
    background: rgb(249, 1, 121)
}